
#foodItemsCard > div {
  width: 350px; /* Set a consistent width for the cards */
  height: 420px; /* Set a consistent height for the cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.5rem; /* Same as `rounded-lg` */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Same as `shadow-md` */
  overflow: hidden;
}


#foodItemsCard img {
  height: 250px; /* Set a fixed height for the image */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

#foodItemsCard .p-4 {
  padding: 1rem;
  flex-grow: 1; /* Allow content to grow and adjust inside the container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuButton.active {
  color: blue;
  border-color: blue;
}

@media screen and (max-width: 425px) {
  #foodItemsCard > div {
    width: 280px;
    height: 370px;
  }

  #foodItemsCard img {
    height: 220px;
  }
}